{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}        

<h1>Work</h1>

<h2>Appointments</h2>

<!--<img class="float-left" src="img/pms287-border10.png" alt="Penn State logo"/>-->
<p>I am Associate Professor of Psychology at Penn State. I serve on the <a href="http://psych.la.psu.edu/index.html">Psychology Department's</a> Planning and Advisory Committee, and am a member of both the Cognitive and Developmental areas. In addition, I serve on the executive committee for the Specialization in Cognitive and Affective Neuroscience (SCAN), on the <a href="http://www.ssri.psu.edu/">Social Sciences Research Institute</a> Internal Advisory Board, and as a <a href="http://csc.psych.psu.edu/">Child Study Center</a> initiative leader. From 2008 to 2014, I served as Director of Human Imaging at Penn State's Social, Life, & Engineering Sciences Imaging Center (<a href="http://www.imaging.psu.edu">SLEIC).</a> My appointment is co-funded by the <a href="www.huck.psu.edu">Huck Institutes of the Life Sciences</a>.

<!--
<h2>Projects</h2>

<h3>Databrary</h3>

<p><a href="http://databrary.org">Databrary</a> is an <a href="http://github.com/databrary">open-source</a> data library for developmental science. The project aims to increase scientific transparency and accelerate discovery in developmental science by building the culture and infrastructure for researchers to share video data and related meta-data. The project has five specific aims:</p>

<ol>
<li>Transform the culture of developmental science by building a community of researchers committed to open video data sharing.</li>
<li>Expand the free, open source video coding software, <a href="http://datavyu.org">Datavyu</a>, to enable coding, exploring, and analyzing video data.</li>
<li>Build a data management system, Labnanny, to support data sharing within labs, among collaborators, and in the Databrary repository.</li>
<li>Create participant <a href="http://github.com/databrary/policies">permissions</a> and contributor/user standards that enable open sharing of video data while limiting access to authorized users to ensure participant confidentiality.</li>
<li>Create a web-based data library (Databrary) for open sharing and preservation of video data and associated meta-data.</li>
</ol>

<p>The Databrary project is supported by a grant from the U.S. National Science Foundation (NSF) Grant No. <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1238599&amp;HistoricalAwards=false">BCS-1238599</a> and the Eunice Kennedy Shriver National Institute of Child Health and Human Development under Cooperative Agreement <a href="http://projectreporter.nih.gov/project_info_description.cfm?aid=8531595&amp;icde=15908155&amp;ddparam=&amp;ddvalue=&amp;ddsub=&amp;cr=1&amp;csb=default&amp;cs=ASC">1-U01-HD-076595-01</a>.</p>

<h3>Developmental Dynamics of Optic Flow Processing</h3>

<h4>Computational Symmetry</h4>

-->

{% endblock content %}

